{% include '@SilecustWebShop/admin/ui/panel/section/content/display/display.html.twig' with {'params':params} %}
<div>
    <h2>Addresses </h2>
    <a
            href="{{ path('sc_admin_panel',{
                '_function':'customer_address',
                '_type':'list',
                'id':request.get('id')
            })
            }}"> view ...</a>
</div>