{% set constant = constant('Silecust\\Framework\\Service\\Twig\\TwigConstants::UI_CONTENT_HEADING') %}
{% if (request.attributes.get(constant) !=null) %}
    <div id="silecust-admin-content-heading">
        <h2>{{ request.attributes.get(constant) }}</h2>
    </div>
{% endif %}