{% set constant = constant('Silecust\\Framework\\Service\\Twig\\TwigConstants::UI_CONTENT_HEADING') %}
{% if (request.attributes.get(constant) !=null) %}
    <h2 id="admin-content-heading" class=" border-bottom border-1 py-2"><span>{{ request.attributes.get(constant) }}</span></h2>
{% endif %}