{#  Extends common ui header #}
{% extends '@SilecustWebShop/admin/ui/panel/header/header.html.twig' %}

{% block start_navigation %}
    <li class="nav-item">
        <a class="nav-link" id="link-dashboard" href="{{ path('admin_panel',{ '_function':'dashboard'}) }}" title="dashboard"><i class="bi bi-grid-3x3"></i></a>
    </li>
{% endblock %}
{% block profile_link %}{{ path('admin_panel',{ '_function':'profile','type':'edit'}) }}{% endblock %}
