<div class="container">
    <h2>Your order details</h2>

    {# Your order number is {{ orderObject.getOrderHeader().getGeneratedId }}
    #}
    {% set orderTotal = 0 %}

    {% include '@SilecustWebShop/module/web_shop/external/order/table_header.html.twig' %}

    {% include '@SilecustWebShop/module/web_shop/external/order/table_items.html.twig' with {'items':orderObject.getOrderItems} %}
    {% include '@SilecustWebShop/module/web_shop/external/order/final_price.html.twig' with {'orderHeader':orderObject.getOrderHeader()} %}
    {% include '@SilecustWebShop/module/web_shop/external/order/to_payment.html.twig' with {'generatedId':orderObject.getOrderHeader().getGeneratedId()} %}


</div>