Your order details

{% for item in orderObject.getOrderItems %}
    <div class="row">
        <div class="col-sm-3">
            {{ item.product.description }}
        </div>
        <div class="col-sm-3">
            {{ item.quantity }}
        </div>
        <div class="col-sm-3">
            {{ item_price_calculator.getPriceWithTax(item) }}
        </div>

    </div>
{% endfor %}