<div class="row py-2 bg-secondary">
    <div class="col-3">
        Product
    </div>
    <div class="col-3 text-end">
        Price Per Unit
    </div>
    <div class="col-3 text-end">
        Total Price
    </div>
    <div class="col-3 text-end">
    </div>
</div>