{% set after =  path(listGrid.config.create_link.redirect_upon_success_route) %}
{% set parameterList = {'_redirect_upon_success_url': after} %}
{% set href = path(listGrid.config.create_link.route,parameterList) %}

<div class="d-flex flex mb-1 ml-0">
    <a class="link-primary" href="{{ href }}">
        <i class="bi bi-plus-circle-fill"></i>
    </a>
</div>
