<div id="sidebar">
    <ul id="list" class="nav nav-pills flex-column">
        {% for section in sideBar.sections %}
            {% include  '@SilecustWebShop/admin/ui/panel/sidebar/components/list_item_with_header.html.twig' with section %}
        {% endfor %}
    </ul>
</div>
<script type="module">
    $(document).ready(function () {

        // when clicked on button
        $("#sidebar ul button").on("click", function () {

            // remove all displayed ( closes all open items)
            $("#sidebar ul .item").removeClass("displayed");
            // reset all buttons to horizontal arrows
            $("#sidebar ul button" ).removeClass("arrow-down")

            // set arrow to down for this item ( clicked)
            $(this).toggleClass("arrow-down");
            // opens the item
            let siblings = $(this).siblings(".list-item");
            $(siblings).children(".item").toggleClass("displayed");

        });
    })
</script>
