{% set event = dispatchGridColumnEventEvent('panel.grid.before_column_display',
    {"request":request,'column':column,'listGrid':listGrid,'entity':entity}) %}

{% set data = event.getData %}

{% if column.action is defined and column.action == 'display' %}
    <div class="col">
        {% set data_column = attribute(data,'column') %}
        {% if data_column.value is defined %}
            <a href="{{ data_column.value }}"> {{ attribute(entity, data_column.propertyName) }}</a>
        {% else %}
            {% include '@SilecustWebShop/admin/ui/panel/section/content/action/grid/display_link.html.twig' with {
                'function':listGrid.function is defined ? listGrid.function: request.get('_function'),
                'name':attribute(entity, column.propertyName),
                'id':attribute(entity, 'id'),
                'link_id':listGrid.link_id} %}
        {% endif %}

    </div>

{% else %}
    <div class="col">
        {% set data_column = attribute(data,'column') %}
        {% if data_column.value is defined %}
            {{ data_column.value }}
        {% else %}
            {{ attribute(entity, data_column.propertyName) }}
        {% endif %}
    </div>
{% endif %}