{# Logo image and location #}

<a id="logo-home-link" href="{% block logo_link %}{{ path('home') }}{% endblock %}">
    <img id="logo-home-img" class="border-0" height=50; width=50 src="{{ path( 'system_image_load_logo') }}"
         alt="SileCust Logo"/>
</a>