<div class="p-2">
    <a id="logo-home-link" href="{{ path( 'home') }}">
        <img id="logo-home-img" height=50; width=50 src="{{ path( 'system_image_load_logo') }}" alt="SilECust"/>
    </a>
</div>