{#
Common Header template , that adds profile and logout link
Also has a block to insert your function
#}
 {#  https://github.com/twigphp/Twig/issues/1980 can't use - in block naam #}

<div id="header" class="bg-secondary bg-gradient ">


    {% block admin_logo %}
        {% include 'admin/ui/panel/header/header_logo.html.twig' %}
    {% endblock %}

    {% block admin_functions %}
        {# add your functions here #}
    {% endblock %}

    {% block admin_common_functions %}
        <nav class="navbar navbar-expand-sm d-flex flex-row-reverse ">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a href="">Profile</a>
                </li>
                <li class="nav-item">
                    {% include 'admin/ui/panel/header/header_logout_link.html.twig' %}
                </li>
            </ul>
        </nav>
    {% endblock %}
</div>