<div id="price">
    {% try %}
    {% set price = render(controller('Silecust\\WebShop\\Controller\\MasterData\\Price\\Base\\PriceProductBaseController::fetch',
        { 'id':product.id}))|json_decode %}
    {{ price.currency }}
    {{ price.price }}
    {% catch %}
        {{ e.message }}
    {% endcatch %}
</div>