{% include '@SilecustWebShop/admin/ui/panel/section/content/display/display.html.twig' with {'params':params} %}
<div>
    <h2>Cities </h2>
    <a
            href="{{ path('sc_admin_panel',{
                '_function':'city',
                '_type':'list',
                'id':request.get('id')
            })
            }}"> view ...</a>
</div>
