<li class="nav-link ms-2 ">
    <a id="{{attribute(item,"css-id") }}" class="link-secondary fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover " href="{{ item.url }}">{{ item.text }} </a>
</li>
