<div class="row py-2 my-2">
    <div class="col">
        {#  function located at Silecust\WebShop\Service\Twig\UI\Panel\Event\DispatcherFunction\Display\EventFunctions #}
        {% set event = dispatchDisplayEditLinkEvent({'params':params}) %}
        {% include event.getTemplate with {'params':params,'request':request,'enitity':entity} %}
    </div>
</div>
{% for column in params.fields %}
    <div class="row my-1 py-2">
        <div id="field-name-{{ column.label }}" class="field-name col-sm-3 bg-light p-2">
            <div class="font-weight-bolder"> {{ column.label }} :</div>
        </div>
        <div id="field-value-for-name-{{ column.label }}" class="field-value-for-name col-sm-3 p-2">
            {% set event = dispatchFieldValueEvent({
                'params':params,
                'request': request,
                'entity':entity,
                'column':column
            }) %}

            {% include '@SilecustWebShop/admin/ui/panel/section/content/display/types.html.twig' with {
                'event':event
            } %}

        </div>
    </div>
{% endfor %}
<script type="module">
    $(document).ready(function () {

        let x = $(".edit-link");
        let y = $("h2#admin-content-heading span")
        y.after(x);
    });
</script>