
{% if column.action is defined and column.action == 'display' %}
    <div class="col-3">
        {% if column.value is defined %}
            <a href="{{ column.value }}"> {{ attribute(entity, column.propertyName) }}</a>
        {% else %}
            {% include '@SilecustWebShop/admin/customer/ui/panel/section/content/grid/column/action/display_link.html.twig' with {
                'name':attribute(entity, column.propertyName),
                'id':attribute(entity, 'id'),
                'link_id':listGrid.link_id} %}
        {% endif %}

    </div>

{% else %}
    <div class="col-3">
        {% if column.value is defined %}
            {{ column.value }}
        {% else %}
            {{ attribute(entity, column.propertyName) }}
        {% endif %}
    </div>
{% endif %}