{# -- Page For Grid level pagination --  #}
<div id="admin-grid" class="p-2 border-2 border-secondary">
    {# -- Create Row Header -- #}
    {#
    {% if listGrid.grid_heading is defined %}
        <div class="d-flex" id="admin-content-grid-heading">
            <h2 class="p-2"> {{ listGrid.grid_heading }}</h2>
        </div>
    {% endif %}
    #}

    {#  Create link  #}
    {% set event = dispatchGridCreateLinkEvent({
        "request":request,
        'listGrid':listGrid
    }) %}
    {% include event.getTemplate with {"request":request,'listGrid':listGrid} %}

    {#  Search box #}
    <div id="admin-search-box" class="p-2 d-inline ms-auto">
        {{ render(controller('\\Silecust\\WebShop\\Controller\\Component\\UI\\Search\\SearchController::search',{'request':request})) }}
    </div>

    {#  Grid Header #}
    <div id="admin-grid-row-header" class="row py-2 fw-bold bg-light my-2">
        {% set event = dispatchGridRowHeaderEvent({
            "request":request,
            'listGrid':listGrid
        }) %}
        {% include event.getTemplate with {"request":request,'listGrid':listGrid} %}
    </div>
    {# Pagination starts #}
    {% if pagination is not null and pagination|length > 0 %}
        <div class="grid-data-container">
            {% for entity in pagination %}
                {# Grid Row  #}

                {% set event = dispatchGridRowDataEvent({
                    "request":request,
                    'listGrid':listGrid
                }) %}
                {% include event.getTemplate with {"request":request,'listGrid':listGrid} %}
            {% endfor %}
        </div>
        <div class="navigation">
            {# Pagination  #}
            {% set event = dispatchGridPaginationEvent({
                "request":request,
                'listGrid':listGrid
            }) %}
            {% include event.getTemplate with {"request":request,'listGrid':listGrid} %}
        </div>
    {% else %}
        {# No records found #}
        <p id="no-records-found">No records found</p>
    {% endif %}

</div>


<script type="module">
    $(document).ready(function () {

        let x = $(".create-link");
        let y = $("h2#admin-content-heading span")
        y.after(x);
    });
</script>
