{# -- Page For Grid level pagination --  #}
{#  do some dumping  #}

<div class="container">
    {# -- Create Link -- #}
    <div class="flex-row d-flex justify-right">
        {% set event = dispatchGridCreateLinkEvent({
            "request":request,
            'listGrid':listGrid
        }) %}
        {% include event.getTemplate with {
            "request":request,'listGrid':listGrid} %}


        <div class="col-3 p-2 ">
            {{ render(controller('\\Silecust\\WebShop\\Controller\\Component\\UI\\Search\\SearchController::search',{'request':request})) }}
        </div>
    </div>
    {# -- Create Row Header -- #}
    {% if listGrid.grid_heading is defined %}
        <div>
            <h2> {{ listGrid.grid_heading }}</h2>
        </div>
    {% endif %}
    <div class="row font-weight-bold py-2 bg-light">
        {% set event = dispatchGridRowHeaderEvent({
            "request":request,
            'listGrid':listGrid
        }) %}
        {% include event.getTemplate with {"request":request,'listGrid':listGrid} %}
    </div>

    {# -- Pagination starts -- #}
    {% if pagination is not null and pagination|length > 0 %}
        {% for entity in pagination %}
            {# -- Row level --  #}
            {% set event = dispatchGridRowDataEvent({
                "request":request,
                'listGrid':listGrid
            }) %}
            {% include event.getTemplate with {"request":request,'listGrid':listGrid} %}

        {% endfor %}
        <div class="navigation">
            {# -- Pagination --  #}
            {% set event = dispatchGridPaginationEvent({
                "request":request,
                'listGrid':listGrid
            }) %}
            {% include event.getTemplate with {"request":request,'listGrid':listGrid} %}
        </div>
    {% else %}
        <h2>No records found</h2>
    {% endif %}
</div>

