{{ form_start(form) }}
<div style="display: none;">
    {{ form_widget(form) }}
</div>
<button type="submit" name="addToCart"> <i class="bi bi-plus-circle-fill"></i>Add to Cart</button>
{{ form_end(form) }}