<div class="sc-admin-row-data row py-2 fs-6">
    <div class="row">

        {% for column in listGrid.columns %}
            <div class="col-3">

                {% set event = dispatchGridColumnEvent({"request":request,'column':column,'listGrid':listGrid,'entity':entity}) %}
                {% include event.getTemplate with  {
                    "request":request,'column':event.getData.column,'listGrid':listGrid,'entity':entity} %}

            </div>
        {% endfor %}
        <div class="col-3">
            {% include '@SilecustWebShop/admin/customer/ui/panel/section/content/grid/column/action/edit_link.html.twig' with {
                "request":request,'listGrid':listGrid,'entity':entity} %}


        </div>
        {% if listGrid.config.delete_link.delete_link_allowed is defined
            and listGrid.config.delete_link.delete_link_allowed ==true %}
            <div class="col-3">
                {% include '@SilecustWebShop/admin/customer/ui/panel/section/content/grid/column/action/delete_link.html.twig' with {
                    "request":request,'listGrid':listGrid,'entity':entity} %}

            </div>
        {% endif %}
    </div>
</div>