<div class="row py-2 fs-6">
    <div class="row font-weight-bold py-2 bg-light">

        {% for column in listGrid.columns %}
            {% set event = dispatchGridColumnEvent({"request":request,'column':column,'listGrid':listGrid,'entity':entity}) %}
            {% dump column %}
            {% include event.getTemplate with  {
                "request":request,'column':event.getData.column,'listGrid':listGrid,'entity':entity} %}


        {% endfor %}
        <div class="col">

            {% include '@SilecustWebShop/admin/customer/ui/panel/section/content/grid/column/action/edit_link.html.twig' with {
                "request":request,'listGrid':listGrid,'entity':entity} %}


        </div>
    </div>
</div>