{#  Show login link and advanced sign ups #}
{% extends 'module/web_shop/external/base/base.html.twig' %}
{% block sidebar %}
{% endblock %}
{% block content %}
    <div>Cart Is Empty</div>
{% endblock %}
