{% extends 'application_base.html.twig' %}
{% block body %}
    <div id="wrapper" class="h-100 container">
        <div class="row">
            <div id="header" class="col">
                {% block header %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div id="sidebar-wrapper" class="col-sm-3">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div id="content-wrapper" class="col-sm mt-2">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div id="footer-wrapper">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
