{%  set context_route= request.session.get('context_route') != null ?request.session.get('context_route') : 'sc_admin_panel' %}
{% set after =  path(context_route,
    {
        '_function':function,
        '_type':'display',
        'id':id}) %}

<a href="{{ path(context_route,
    {
        '_function': function,
        '_type':'edit',
        'id':id,
        '_redirect_upon_success_url': after
    }) }}" id="{{ link_id ~"-edit-"~id}}" ><i class="bi bi-pencil pe-2"></i>Edit </a>