<tbody>
    <tr>
        {% for column in listGrid.columns %}
            <td>
                {% set event = dispatchGridColumnEvent({"request":request,'column':column,'listGrid':listGrid,'entity':entity}) %}
                {% include event.getTemplate with  {"request":request,'column':event.getData.column,'listGrid':listGrid,'entity':entity} %}

            </td>
        {% endfor %}
        <td>
            {% include '@SilecustWebShop/admin/employee/ui/panel/section/content/grid/column/action/edit_link.html.twig' with {
                'function':listGrid.function is defined ? listGrid.function: request.get('_function'),
                'id':attribute(entity, 'id'),
                'link_id':listGrid.link_id
            } %}
        </td>
        {% if listGrid.config.delete_link.delete_link_allowed is defined
            and listGrid.config.delete_link.delete_link_allowed ==true %}
            <td>
                {% include '@SilecustWebShop/admin/employee/ui/panel/section/content/grid/column/action/delete_link.html.twig' with {
                    'function':listGrid.function is defined ? listGrid.function: request.get('_function'),
                    "request":request,
                    'id':attribute(entity, 'id'),
                    'entity':entity,
                    'link_id':listGrid.config.delete_link.link_id
                } %}
            </td>
        {% endif %}
    </tr>
</tbody>