<div class="row py-2 fs-6">
    <div class="row font-weight-bold py-2 bg-light">

        {% for column in listGrid.columns %}
            {% set event = dispatchGridColumnEvent({"request":request,'column':column,'entity':entity}) %}
            {% include event.getTemplate with  {"request":request,'column':event.getData.column,'entity':entity} %}


        {% endfor %}

    </div>
</div>