<div class="row py-2 fs-6">

    {% for column in listGrid.columns %}
        <div class="row font-weight-bold py-2 bg-light">
            {% include '@SilecustWebShop/admin/ui/panel/section/content/list/column/column.html.twig' with
                {"request":request,'column':column,'entity':entity} %}
        </div>
    {% endfor %}
</div>