{#  The Application base template
Provides basic structure for the page
#}
<!DOCTYPE html>
<html lang="en">
<head>
    {# head block  #}
    {% block head %}
    {% endblock %}
    <title>
        {% block page_title %}
            {% if request.attributes.get('page_title') is defined %}
                {{ request.attributes.get('page_title') }}
            {% else %}
                {{ 'This page doesn\'t have a title' }}
            {% endif %}
        {% endblock %}
    </title>
</head>
<body class="vh-100">
{# body #}
{% block body %}
    {# body content #}
{% endblock %}

</body>

</html>
