{% if listGrid.config.delete_link.delete_link_allowed is defined
    and listGrid.config.delete_link.delete_link_allowed ==true %}
    {% set id  = attribute(entity, 'id') %}
    {% set href =  path( listGrid.config.delete_link.route,{'id':id}) %}
    <div class="d-flex flex mb-1 ml-0 ">
        <a class="link-primary" id="{{ listGrid.config.delete_link.link_id ~"-delete-"~id }}" href="{{ href }}">
            <i class="bi bi-trash pe-2"></i></a>
    </div>
{% endif %}
<script>
    $(document).ready(function(){

    });
</script>