<div class="nav">
    {% if isLoggedInUserAlsoACustomer() == true %}
        {% block cart_link %}
            <a class="nav-link" href="{{ path('module_web_shop_cart') }}"><i class="bi bi-cart"></i>
            </a>
        {% endblock %}
    {% endif %}
    {% block profile %}
        {% if app.user is not null %}
            <a class="nav-link" href="{% block profile_link %}{{ path('my') }}{% endblock %}">
                <i class="bi bi-person-circle"></i>
            </a>
        {% endif %}
    {% endblock %}
    {% if app.user is not null %}
        {% include '@SilecustWebShop/admin/ui/panel/header/header_logout_link.html.twig' %}
    {% else %}
        {% include '@SilecustWebShop/admin/ui/panel/header/header_login_link.html.twig' %}
    {% endif %}
</div>