{#
Common Header template , that adds profile and logout link
Also has a block to insert your function
#}
 {#  https://github.com/twigphp/Twig/issues/1980 can't use - in block naam #}

 {% block header %}

<div id="header" class="bg-primary bg-light">
</div>
{% endblock %}