{# Logo image and location #}

<a id="logo-home-link" href="{% block logo_link %}{{ path('sc_home') }}{% endblock %}">
    <img id="logo-home-img" class="border-0" height=50; width=50 src="{{ path( 'sc_system_image_load_logo') }}"
         alt="SileCust Logo"/>
    Silecust - Web Shop
</a>