{% extends '@SilecustWebShop/security/base/security_base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block content %}

    {% include '@SilecustWebShop/security/external/user/login/login_form.html.twig' with{  'last_username': last_username, 'error' : error,} %}

    <a href="{{ path('sc_user_customer_sign_up') }}">Go to sign up</a>
    <a href="{{ path('sc_app_forgot_password_request') }}">Forgot Password</a>

{% endblock %}
