{% extends '@SilecustWebShop/security/base/security_base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block content %}

    <h2>Please log in </h2>
    {% include '@SilecustWebShop/security/external/user/login/login_form.html.twig' with{  'last_username': last_username, 'error' : error,} %}

    <div>
        <a href="{{ path('sc_user_customer_sign_up') }}">Sign Up</a>
    </div>
    <div>
        <a href="{{ path('sc_app_forgot_password_request') }}">Forgot Password...</a>
    </div>
{% endblock %}
