{% include '@SilecustWebShop/admin/ui/panel/section/content/display/display.html.twig' with {'params':params} %}
<div>
    <h3>Category Images </h3>
    <a
            href="{{ path('sc_admin_panel',{
                '_function':'category_file_image',
                '_type':'list',
                'id':request.get('id')
            })
            }}"> view ...</a>
</div>
